h1 {
  font-family: "Montserrat";
  font-weight: 600;
}

p {
  font-family: "Inter";
  font-weight: 400;
}

button {
  font-family: "Inter";
  font-weight: 600;
}

a {
  font-family: "Inter";
  font-weight: 500;
}
