<section
  style="display: flex; justify-content: space-between; align-items: center"
>
  <div style="max-width: 55vh">
    <h1 style="font-family: 'Montserrat'; font-weight: 600; font-size: 48px">
      Comida Oriental
    </h1>
    <p style="font-family: Inter; color: #292929; font-size: 24px">
      A culinária Japonesa é bastante equilibrada, sendo muito rica em peixes
      (ômega 3), vegetais, massas e ingredientes frescos.
    </p>
    <button
      style="
        width: 200px;
        border: 0px;
        background-color: #da2535;
        border-radius: 10px;
        padding: 10px 0;
        margin-top: 15px;
        color: white;
      "
    >
      Cardápio
    </button>
  </div>
  <div>
    <img src="/assets/kisspng-sushi-japanese.png" alt="Comida Oriental" />
  </div>
</section>

<section
  style="display: flex; justify-content: space-between; align-items: center"
>
  <div>
    <img src="/assets/img segurando prato.png" alt="img segurando prato" />
  </div>
  <div style="max-width: 55vh">
    <h1 style="font-size: 48px">Feita de forma Tradicional</h1>
    <p style="font-family: Inter; color: #292929; font-size: 24px">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <a
      style="
        color: #da2535;
        border-bottom: 1px solid #da2535;
        text-decoration: none;
        font-size: 24px;
      "
      href="#"
      (click)="redirect()"
      >Ler mais sobre o modo de preparo
    </a>
  </div>
</section>
<section>
  <h1
    style="
      font-weight: 600;
      font-size: 48px;
      text-align: center;
      margin: 75px 0 150px;
    "
  >
    Mais populares
  </h1>
  <div style="display: flex; justify-content: center; gap: 20px">
    <ng-container *ngFor="let item of userTopFoods">
      <food-sp-card
        [price]="item.price"
        [tittle]="item.tittle"
        [description]="item.description"
        [image]="item.image"
      ></food-sp-card>
    </ng-container>
  </div>
</section>
<section>
  <h1 style="font-weight: 600; font-size: 48px; padding-top: 50px">
    Comentários
  </h1>
  <div
    style="
      display: flex;
      gap: 20px;
      max-width: 100%;
      overflow: auto;
      padding-bottom: 15px;
    "
  >
    <ng-container *ngFor="let value of userComments">
      <food-sp-comments
        [name]="value.name"
        [comment]="value.comment"
        [avaliation]="value.avaliation"
        [image]="value.image"
      ></food-sp-comments>
    </ng-container>
  </div>
</section>
<section>
  <h1
    style="
      font-weight: 600;
      font-size: 48px;
      padding-left: 100px;
      padding-top: 50px;
    "
  >
    Localização
  </h1>
  <div style="display: flex; justify-content: center; gap: 20px">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467690.14386865456!2d-46.92495573160536!3d-23.682063556622076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2zU8OjbyBQYXVsbywgU1A!5e0!3m2!1spt-BR!2sbr!4v1691347385880!5m2!1spt-BR!2sbr"
      width="900"
      height="400"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
