h1 {
  font-family: "Montserrat";
  font-weight: 600;
}

p {
  font-family: "Inter";
  font-weight: 400;
}

button {
  font-family: "Inter";
  font-weight: 600;
}

a {
  font-family: "Inter";
  font-weight: 500;
}

.allComments {
  font-family: "Inter";
  font-weight: 500;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10px;
  padding-right: 20px;
  font-size: 18px;
}

.allComments:hover {
  color: #ff0000;
  cursor: pointer;
}
