<section
  style="display: flex; justify-content: space-evenly; align-items: center"
>
  <div style="max-width: 55vh">
    <h1 style="font-weight: 500; font-size: 48px">Comida Oriental</h1>
    <p style="font-family: Inter; color: #292929; font-size: 24px">
      A culinária Japonesa é bastante equilibrada, sendo muito rica em peixes
      (ômega 3), vegetais, massas e ingredientes frescos.
    </p>
    <button
      style="
        width: 200px;
        border: 0px;
        background-color: #da2535;
        border-radius: 10px;
        padding: 10px 40px;
        margin-top: 15px;
        color: white;
      "
    >
      Cardápio
    </button>
  </div>
  <div>
    <img src="/assets/kisspng-sushi-japanese.png" alt="Comida Oriental" />
  </div>
</section>

<section
  style="display: flex; justify-content: space-evenly; align-items: center"
>
  <div>
    <img src="/assets/img segurando prato.png" alt="img segurando prato" />
  </div>
  <div style="max-width: 55vh">
    <h1 style="font-weight: 500; font-size: 48px">
      Feita de forma Tradicional
    </h1>
    <p style="font-family: Inter; color: #292929; font-size: 24px">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <a
      style="
        color: #da2535;
        border-bottom: 1px solid #da2535;
        text-decoration: none;
        font-size: 24px;
      "
      href="#"
      (click)="redirect()"
      >Ler mais sobre o modo de preparo
    </a>
  </div>
</section>
<section>
  <h1
    style="
      font-weight: 600;
      font-size: 48px;
      text-align: center;
      margin: 50px 0 150px;
    "
  >
    Mais populares
  </h1>
  <div style="display: flex; justify-content: center; gap: 20px">
    <food-sp-card
      price="25,99"
      tittle="Ramen de Frango"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      image="/assets/lamen tipo 2.png"
    ></food-sp-card>
    <food-sp-card
      price="30"
      tittle="Ramen Apimentado"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      image="/assets/lamen tipo 1.png"
    ></food-sp-card>
    <food-sp-card
      price="32,90"
      tittle="Ramen Tradicional"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      image="/assets/lamen tipo 3.png"
    ></food-sp-card>
  </div>
</section>
<section>
  <h1
    style="
      font-weight: 600;
      font-size: 48px;
      text-align: center;
      margin: 50px 0 150px;
    "
  >
    Comentários
  </h1>
  <div style="display: flex; justify-content: center; gap: 20px">
    <food-sp-comments
      name="Daniele Almeida"
      comment="Ótimo serviço! Encantada com a qualidade dos pratos."
      [avaliation]="5"
      image="/assets/img profile 1.png"
    ></food-sp-comments>
    <food-sp-comments
      name="Ricardo França"
      comment="Não é apenas a comida excelente, o serviço torna a experiência especial."
      [avaliation]="4"
      image="/assets/img profile 2.png"
    ></food-sp-comments>
  </div>
</section>
