<header
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  "
>
  <div style="font-family: 'Montserrat'; font-weight: 700">
    <h1 class="mainTittle">Food<span style="color: #da2535">SP</span></h1>
  </div>
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40vh;
      color: #292929;
      font-family: 'Inter';
      font-weight: 500;
    "
  >
    <p class="headerButtons">Início</p>
    <p class="headerButtons">Cardápio</p>
    <p class="headerButtons">Sobre</p>
  </div>
  <div>
    <button class="loginButton">Entrar</button>
  </div>
</header>
