<header
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  "
>
  <div style="font-family: 'Montserrat'; font-weight: 700">
    <h1>Food<span style="color: #da2535">SP</span></h1>
  </div>
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40vh;
      color: #292929;
      font-family: 'Inter';
      font-weight: 500;
    "
  >
    <p>Início</p>
    <p>Cardápio</p>
    <p>Sobre</p>
  </div>
  <div>
    <button
      style="
        width: 145px;
        height: 35px;
        border: 2px solid #292929;
        border-radius: 10px;
        background-color: white;
        font-family: 'Inter';
        font-weight: 600;
      "
    >
      Entrar
    </button>
  </div>
</header>
