<section class="cardBody" [style.height]="heightSection">
  <div style="height: 160px">
    <img
      style="position: relative; left: 25px; top: 25px; border-radius: 100%"
      [style.width]="widthImg"
      [style.height]="heightImg"
      [src]="image"
      alt="imagem"
    />
  </div>
  <div class="cardContent">
    <div>
      <span
        style="font-family: 'Montserrat'; font-weight: 600; color: #292929"
        [style.font-size]="sizeName"
      >
        {{ name }}
      </span>
    </div>
    <p
      style="width: 80%; color: #616161; margin: 10px 0 0"
      [style.height]="heightComment"
      [style.font-size]="sizeComment"
    >
      {{ comment }}
    </p>
    <div class="rating">
      <ng-container *ngFor="let value of [5, 4, 3, 2, 1]">
        <input
          type="radio"
          [name]="'rating_' + id"
          [value]="value"
          [disabled]="true"
          [checked]="value === avaliation"
        />
        <label
          [style.font-size]="sizeAvaliation"
          [for]="value + '_' + id"
        ></label>
      </ng-container>
    </div>
  </div>
</section>
