.modal-overlay {
  background: #000;
  height: 150vh;
  left: -50vw;
  opacity: 0.5;
  position: fixed;
  top: -50vh;
  width: 150vw;
  z-index: 1040;
}

.modal-body {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 900px;
  height: 80vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1041;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: 98vw;
}
