<ng-container *ngIf="visible">
  <div (click)="show()" class="modal-overlay"></div>

  <div class="modal-div">
    <header class="modal-header">
      Sessão de Comentários
      <span class="modal-close" (click)="show()">X</span>
    </header>
    <body class="modal-body">
      <ng-container *ngFor="let comment of userComments">
        <food-sp-comments
          [name]="comment.name"
          [comment]="comment.comment"
          [avaliation]="comment.avaliation"
          [image]="comment.image"
          heightSection="250px"
          widthImg="75px"
          heightImg="75px"
          sizeName="24px"
          heightComment="70px"
          sizeComment="16px"
          sizeAvaliation="20px"
        ></food-sp-comments>
      </ng-container>
    </body>
  </div>
</ng-container>
