<section
  style="
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #f3f3f3;
    border-radius: 32px;
    width: 380px;
    height: 450px;
  "
>
  <div style="max-height: 200px">
    <img
      style="
        position: relative;
        left: 45px;
        top: -100px;
        width: 289px;
        height: 292px;
      "
      [src]="image"
      alt="imagem"
    />
  </div>
  <div
    style="
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <div
      style="height: 70px; display: flex; text-align: center; padding: 0 15px"
    >
      <span
        style="
          font-family: 'Montserrat';
          font-weight: 600;
          font-size: 32px;
          color: #292929;
        "
      >
        {{ tittle }}
      </span>
    </div>
    <p style="font-family: Inter; color: #616161; font-size: 18px; width: 70%">
      {{ description }}
    </p>
    <span style="font-size: 32px; padding-top: 15px">R$ {{ price }}</span>
  </div>
</section>
