.cardBody {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #f3f3f3;
  border-radius: 32px;
  width: 380px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 7px 5px 12px;
}

.cardBody:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 12px 12px 12px;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.cardImage {
  position: relative;
  left: 45px;
  top: -100px;
  width: 289px;
  height: 292px;
}

.cardContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardTittle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  color: #292929;
  line-height: 28px;
}
