<section class="cardBody">
  <div style="max-height: 200px">
    <img class="cardImage" [src]="image" alt="imagem" />
  </div>
  <div class="cardContent">
    <div
      style="height: 70px; display: flex; text-align: center; padding: 0 15px"
    >
      <span class="cardTittle">
        {{ tittle }}
      </span>
    </div>
    <p style="font-family: Inter; color: #616161; font-size: 18px; width: 70%">
      {{ description }}
    </p>
    <span style="font-size: 32px; padding-top: 15px">R$ {{ price }}</span>
  </div>
</section>
